.placeholder {
    width: 1fr;
    height: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* background-color: bisque; */
}
.placeholder-edit-button{
    display: flex;
    justify-content: end;
    width: 1fr;
}
.cards {
    /* background-color: aquamarine; */
    font-size: 14px;
    width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    /* background-color: rgb(94, 94, 100); */
    color: rgb(56, 52, 39);
    padding: 13px;
}
.request-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 34vh;
}
.cards > * {
    margin: 3px;
}
@media only screen and (max-width: 500px) {
    .cards {
        width: 100%;
    }
}
